@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}
body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--cl-bg);
  color: var(--cl-text);
}
